/* =========================================
FILE: src/styles/Style_forMobile/Auth.mobile.css
========================================= */

@media (max-width: 640px) {
  .auth-card {
    padding: 30px;
  }

  .auth-header h2 {
    font-size: 1.5rem;
  }
}
